<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>01DynamicWebApp</display-name>
  <welcome-file-list>
    <welcome-file>number.html</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Myservlet</servlet-name>
    <servlet-class>com.ciq.servlet.Myservlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Myservlet</servlet-name>
    <url-pattern>/My</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletInterfaceimpl</servlet-name>
    <servlet-class>com.ciq.servlet.ServletInterfaceimpl</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInterfaceimpl</servlet-name>
    <url-pattern>/demo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GenericServletimpl</servlet-name>
    <servlet-class>com.ciq.servlet.GenericServletimpl</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletimpl</servlet-name>
    <url-pattern>/dady</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NumbersAdding</servlet-name>
    <servlet-class>htmlConnectingJava.NumbersAdding</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumbersAdding</servlet-name>
    <url-pattern>/numberdemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>yami</display-name>
    <servlet-name>yami</servlet-name>
    <servlet-class>com.ciq.servlet.yami</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>yami</servlet-name>
    <url-pattern>/yami</url-pattern>
  </servlet-mapping>
</web-app>