<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>03DAOWithServlet</display-name>
  <welcome-file-list>
    <welcome-file>emp-save.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeFindAllController</display-name>
    <servlet-name>EmployeeFindAllController</servlet-name>
    <servlet-class>com.Twoservlets.EmployeeFindAllController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeFindAllController</servlet-name>
    <url-pattern>/findall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeSaveController</display-name>
    <servlet-name>EmployeeSaveController</servlet-name>
    <servlet-class>com.Twoservlets.EmployeeSaveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSaveController</servlet-name>
    <url-pattern>/save</url-pattern>
  </servlet-mapping>
</web-app>